<style>
</style>

<nav class="uk-navbar uk-navbar-container">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <img class="uk-active logo" src="assets/logo.png" />
            <li class="uk-active uk-link-heading"><a routerLink="country">Countries</a></li>
            <li class="uk-active uk-link-heading"><a routerLink="prevention">Prevention</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <div class="uk-text-emphasis" style="margin-right: 10px;"> #StayAtHome  </div>
        </ul>
    </div>
</nav>
<router-outlet>

</router-outlet>