.country{
    
    list-style-type: none;
  }

.flag{
    max-width: 15%;
    max-height: 15%;
    position: relative;
    bottom: 60px;
    left: 20px;
}

.labelInfo{
    position: relative;
    left:50px;

}

.uk-card{
width: 375px;
height: 200px;
}