<style>
    .country{
        position: relative;
        top: 30px;
    }
</style>
<form class="uk-search">
    
</form>

<ul class="uk-grid">
    <input class="uk-search-input uk-width-1-1" [(ngModel)]="searchText" placeholder="Search" > 
    
    <li *ngFor="let d of data | filter:searchText" class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-hover uk-card-body country">

            <h3 class="uk-card-title">{{ d.country }} Stats</h3> <img src="{{ d.countryInfo.flag }}" class="flag"
                align="right">
            <div>
                Current Cases : {{ d.cases }} <span class="uk-label uk-label-warning labelInfo"> + {{ d.todayCases  }}
                </span><br>
                Deaths Cases : {{ d.deaths }} <span class="uk-label uk-label-danger labelInfo"> + {{ d.todayDeaths  }}
                </span><br>
                Recovered Cases : <span class="uk-label uk-label-success labelInfo"> + {{ d.recovered }} </span>
            </div>
        </div>
        <br>
    </li>
</ul>