
@media (min-width: 1024px ){
  .alignbox {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    padding: 10px;
  }
}

@media(min-width:400px){
  .separation {
    margin-top: 10px;
  }
}

.card-icon{
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    float: left;
    margin-left: 15px;
}


.col-lg-6{
  margin-top: 50px;
}