

  <nav class="uk-navbar uk-navbar-container" style="z-index: 980;" uk-sticky="top: 200; bottom: #animation">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <a class="uk-navbar-item uk-logo uk-text-bold" href="#">CorAngular19</a>
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="home">Accueil</a></li>
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="country" >Pays</a></li>
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="apropos" >A propos</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <div class="uk-text-emphasis" style="margin-right: 10px;"><a href="https://www.instagram.com/explore/tags/StayAtHome/"> #StayAtHome</a>  </div>
        </ul>
    </div>
  </nav>

  <div class="uk-container" >

  <router-outlet >
  </router-outlet>
</div>
  
  <footer id="" class="footer fixed-bottom pagefooter" uk-sticky="bottom:100">
    <div class="uk-container uk-padding-small">
        <p class="uk-text-small uk-text-right">Made with love by <a href="https://www.instagram.com/hatimgbl/">@hatimgbl</a> and <a href="https://www.instagram.com/outcast292/">@outcast292</a></p>
    </div>
  </footer>
