<head >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <nav class="uk-navbar uk-navbar-container" style="margin-bottom: 15px;">
    
    <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-logo uk-text-bold" href="#" style="color: #856c8b;"><i class="fa fa-user-md fa-lg"></i> <p style="margin-left: 10px;;"></p>CorAngular19</div>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="home">Accueil</a></li>
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="country" >Pays</a></li>
            <li class="uk-link-heading"  [routerLinkActive]="['uk-active']"><a routerLink="apropos" >A propos</a></li>
        </ul>
    </div>
  </nav>

  <div class="uk-container" >

  <router-outlet >
  </router-outlet>
</div>
  
  <footer id="" class="footer fixed-bottom pagefooter" uk-sticky="bottom:100">
    <div class="uk-container uk-padding-small">
        <p class="uk-text-small uk-text-right uk-text-bold">Made with love by <a href="https://www.instagram.com/hatimgbl/">@hatimgbl</a> and <a href="https://www.instagram.com/outcast292/">@outcast292</a></p>
    </div>
  </footer>
