.uk-navbar{
    background-color: #ffeb99;
}
a:hover{
    background-color: #ffffff;
}
.pagefooter{
    background-color: #ffeb99;
    color: #856c8b;
}

.home{
    position: relative;
    top: 5px;
    left: 15px;
}