<style>
    .bitbucket {
        
        max-width: 150px; 
        max-height: 150px;
        height: auto;
        width: auto;
        margin-bottom: 30px;
    }
</style>

<div class="uk-grid uk-child-width-expand@s" style="margin-top:25px;">

    <div class="">
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            <h3 class="uk-card-title">Application Web créée par Hatim Atartour et Othmane Mdarhri.</h3>
            <hr>
            <h6>Dans le cadre de la recherche sur les Frameworks JS demandée par Madame Adadi</h6>
            <br>
            <p>L'application utilise la dernière version d'Angular 9.0.7 .</p>
            <p>Dans cette application, on démontre l'utilisation des composants, des services, du Routage, recupération
                des données depuis une API
                ainsi que les directives *ng d'ANGULAR.</p>
            <p>On utilise aussi charts.js, ng2-charts et ng2-search-filter</p>
            <p>L'application utilise l'API public de <a
                    href="https://github.com/javieraviles/covidAPI">javieraviles</a>, pour le fetch des données.</p>
        </div>
    </div>
    <br>
    <div class="">
        <div class="uk-card uk-card-default uk-card-large uk-card-body">
            
            <h3 class="uk-card-title">Code Source</h3>
            <hr>
            <h6>Le code source de l'application est disponible dans le répertoire bitbucket.</h6>
         

            <div class="uk-card-footer">
                <a href="https://bitbucket.org/hatim2019/coronaapp/src/master/" target="_blank">
                    <img class="bitbucket uk-position-bottom-center"
                        src="https://images.squarespace-cdn.com/content/v1/512f7f28e4b0e0699d176018/1505300858851-KWHBEKU7063PDL6PQBUY/ke17ZwdGBToddI8pDm48kL97H9l_kqQerj56jbMB4PxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIbaowrcFwMuV1HM4uf1GLVfFnFNsAD-_G46da1KBETd4/image-asset.png"
                        alt="" >
                </a>
            </div>
        


        </div>
    </div>
</div>
<br><br><br>