
    <div uk-grid>
        <div class="uk-child-width-2-2@s"  style="margin-top: 25px;">
            <div class="uk-card uk-card-default uk-card-large uk-card-body">
                <h3 class="uk-card-title">Application Web creée par Hatim Atartour et Othmane Mdarhri, selon le cadre de la recherche sur les Frameworks JS demandée par Madame Adadi.</h3>
                <p>L'application utilise la dernière version d'Angular 9.0.7 .</p>
                <p>Dans cette application, on démontre l'utilisation  des composants ,des services, de Routing , fetching  et les directives *ng d'ANGULAR.</p>
                <p>L'application utilise l'API public de <a href="https://github.com/javieraviles/covidAPI">javieraviles</a>,pour le fetch des données.</p>
            </div>
        </div>
    </div>

    <br><br><br>