

<div class="uk-grid" >

    <div class="uk-search uk-search-default uk-width-1-1" style="margin-bottom: 10px;">
        <input type="text" class="uk-search-input" [(ngModel)]="country" >
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="">
            {{ country  }}
        </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-card uk-card-default uk-card-hover uk-card-body" style="">
        </div>
    </div>


</div>